.navbar {
    width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 40px;
  background-color: #ffffff;
 background: linear-gradient(
    270deg,
   #DB2777,
    #1e5dbb,
    #3b82f6,
    #1e3a5f
  );
  background-size: 600% 600%;
  animation: gradientMove 12s ease infinite;
  color: white;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.navbar a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}


/* Logo */
.logo {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.logo-main {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 3px;
  color: white;
}

.logo-sub {
  font-size: 12px;
  color:white;
}

/* Right section */
.nav-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* Nav links */
.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color:white;
}

.nav-links a:hover {
  color:black;
  text-decoration: underline;
}

/* Button */
.demo-btn {
  padding: 10px 18px;
  background-color: #1e5dbb;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.demo-btn:hover {
  background-color: #174a94;
}
