/* ===== Sidebar Container ===== */
.sidebar {
  width: 240px;
  height: auto;
  
  color: #e5e7eb;
  padding-top: 24px;
  position:relative;
  left: 0;
  top: 0;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.15);
  font-family: "Segoe UI", sans-serif;
  z-index: 999;
  overflow: hidden;
   background: linear-gradient(
    270deg,
  
    #1e3a5f,
   #DB2777,
    #1e5dbb 

  );
  background-size: 600% 600%;
  animation: gradientMove 12s ease infinite;
  color:yellow;
  height: 100px;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* ===== Sidebar Title / Logo ===== */
.sidebar-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: #38bdf8;
}

/* ===== Menu Item ===== */
.sidebar-item {
  margin: 8px 14px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 10px;
  color: #e5e7eb;
   
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.3s ease;

}

/* ===== Hover Effect ===== */
.sidebar-link:hover {
  background: rgba(56, 189, 248, 0.15);
  color: #38bdf8;
  transform: translateX(6px);
}

/* ===== Active Link (Optional) ===== */
.sidebar-link.active {
  background: rgba(56, 189, 248, 0.25);
  color: #38bdf8;
  font-weight: 600;
}

/* ===== Mobile Responsive ===== */

/* MOBILE SIDEBAR */
@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    top: 64px;
    left: 0;
    width: 220px;
    height: calc(100vh - 64px);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}


  

